.sidebar {
  width: 12%;
  float: left;
}

.navbar {
  height: 90px;
}

.main-content {
  width: calc(100% - 12%);
  height: calc(100% - 90px);

  margin-top: 50px;
  margin-left: 12%;
}

.profile-layout {
  display: flex;
  justify-content: space-between;
  gap: 2rem; /* Adjust the gap as needed */
}

.profile-widget {
  flex: 1; /* Adjust the flex basis as needed */
  max-width: 300px; /* Adjust the width as needed */
}

.posts {
  flex: 3; /* Adjust the flex basis as needed */
}
