.main {
  padding-top: 10%;
  padding-left: 20%;
  padding-right: 7%;
}

.profile-layout {
  display: flex;
  justify-content: space-between;
  gap: 2rem; /* Adjust the gap as needed */
}

.profile-widget {
  flex: 1; /* Adjust the flex basis as needed */
  max-width: 300px; /* Adjust the width as needed */
}

.posts {
  flex: 3; /* Adjust the flex basis as needed */
}
